@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*$breakpoints: (
        mobile: 320px,
);
*/
/*
@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}


@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-portait-only {
  @media (min-width: 600px) and (max-width: 899px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-tablet-landscape-only {
  @media (min-width: 900px) and (max-width: 1199px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}}


@mixin temporaire {
  @media (max-width: 1200px) {
    @content;
  }
}

body {
  @include temporaire {
    background-color: white !important;
  }
}

.page__temporaire {
  display: none;
  background-color: white;
  @include temporaire {
    display: block;
    text-align: center;
    margin-top: 50vh;
    transform: translateY(-50%);
    z-index: 19;
  }

  h1 {
    color: black;
    font-size: 1em;
    padding: 5%;
  }
  p{
    font-size: 1em;
    color: black;
  }
}

nav {
  @include temporaire {
    display: none;
  }
}
.presentation{
  @include temporaire {
    display: none;
  }
}*/
* {
  box-sizing: border-box; }

img {
  max-width: 100%; }

body {
  background-color: #000000;
  color: white;
  font-size: 1.6em;
  overflow: hidden; }

h1 {
  font-size: 3em; }

a {
  text-decoration: none;
  color: white;
  list-style: none; }

body {
  font-family: 'Open Sans', sans-serif; }

h1 {
  font-family: 'Playfair Display', 'IM Fell French Canon SC', serif; }

.presentation {
  position: absolute;
  left: 8%;
  top: 25%;
  width: 80%; }
  @media (min-width: 320px) and (max-width: 500px) {
    .presentation {
      position: static;
      width: 90%;
      display: block;
      margin-right: auto;
      margin-left: auto;
      margin-top: 50vh;
      transform: translateY(-50%); } }

.presentation__name {
  display: inline-block;
  margin-right: 0.2em;
  letter-spacing: 3px; }
  @media (min-width: 320px) and (max-width: 500px) {
    .presentation__name {
      font-size: 1.9em; } }

.presentation__trait {
  display: inline-block;
  width: 40%;
  border: 0.3px solid; }

.presentation__description {
  line-height: 1.8em;
  font-size: 23px;
  width: 75%; }
  @media (min-width: 320px) and (max-width: 500px) {
    .presentation__description {
      width: auto; } }
  .presentation__description > p {
    margin: 3% 0;
    font-style: italic;
    font-size: 1.6em; }
    @media (min-width: 320px) and (max-width: 500px) {
      .presentation__description > p {
        font-size: 1em; } }
  .presentation__description .alinea {
    margin-top: 3%; }
    .presentation__description .alinea p {
      margin-bottom: 1em; }
      @media (min-width: 320px) and (max-width: 500px) {
        .presentation__description .alinea p {
          font-size: 0.7em;
          line-height: 1.4em; } }
      .presentation__description .alinea p span {
        font-weight: bold;
        font-size: 1.3em; }
      .presentation__description .alinea p i {
        font-style: italic;
        font-weight: 100;
        font-size: 0.9em; }

.menu {
  transform: rotate(-90deg);
  position: absolute;
  right: -13%;
  bottom: 35%;
  text-transform: uppercase;
  z-index: 2; }
  @media (min-width: 320px) and (max-width: 500px) {
    .menu {
      display: none; } }

ul {
  display: flex; }

li {
  width: 22vh;
  display: inline-flex;
  justify-content: space-around;
  align-items: center; }
  li a {
    margin-right: 4px; }

.menu__trait {
  height: 0.3px;
  width: 20%;
  border: solid white 0.4px; }

.menuMobile {
  display: none; }
  @media (min-width: 320px) and (max-width: 500px) {
    .menuMobile {
      display: block; } }

.navMobile {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  right: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.68) !important;
  /* Black*/
  opacity: 0.1%;
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */ }
  .navMobile a {
    padding: 30px;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    font-family: 'Playfair Display', 'IM Fell French Canon SC', serif;
    font-size: 1em; }

.menuMobile__burger {
  width: 30px;
  height: 23px;
  border: 0;
  position: absolute;
  top: 1em;
  right: 1em;
  background: none;
  cursor: pointer;
  z-index: 11; }

.menuMobile__span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 1.3px;
  transition: transform .2s ease, top .2s ease .2s, bottom .2s ease .2s, opacity .2s ease .2s;
  background-color: white;
  border-radius: 10%; }

.menuMobile__span:nth-child(2) {
  top: calc(50% - 2px); }

.menuMobile__span:nth-child(1) {
  top: 0; }

.menuMobile__span:nth-child(3) {
  bottom: 0; }

.toggle-active .menuMobile__span {
  background-color: white;
  transition: transform .2s ease .2s, top .2s ease, bottom .2s ease, opacity .2s ease; }

.toggle-active .menuMobile__span:nth-child(1) {
  transform: rotate(45deg);
  top: calc(50% - 1px); }

.toggle-active .menuMobile__span:nth-child(2) {
  opacity: 0; }

.toggle-active .menuMobile__span:nth-child(3) {
  transform: rotate(-45deg);
  bottom: calc(50% - 1px); }

.navMobile__links {
  position: relative;
  top: 20%;
  padding: 20px; }

.nav-active {
  opacity: 1;
  visibility: visible;
  width: 100%;
  transition: ease-in-out 0.6s; }

.oj {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: -50vh;
   transform: translateY(50%);*/ }
  @media (min-width: 320px) and (max-width: 500px) {
    .oj {
      justify-content: flex-end;
      margin-right: 25px; } }

.project__title {
  transform: rotate(-90deg) translate(20px, -600px); }
  @media (min-width: 320px) and (max-width: 500px) {
    .project__title {
      transform: rotate(-90deg) translate(-260px, -100px); } }

.project__title h1 {
  font-size: 3em;
  LETTER-SPACING: 3px; }
  @media (min-width: 320px) and (max-width: 500px) {
    .project__title h1 {
      font-size: 1.7em; } }

.project__title p {
  display: inline-block; }
  @media (min-width: 320px) and (max-width: 500px) {
    .project__title p {
      font-size: 0.7em; } }

.subtitle {
  width: 900px; }

.project__title__trait {
  width: 60%;
  vertical-align: middle;
  display: inline-block;
  margin-left: 30px; }
  @media (min-width: 320px) and (max-width: 500px) {
    .project__title__trait {
      margin-left: 0px; } }

.project__description {
  width: 30%;
  margin: 0 7%; }
  @media (min-width: 320px) and (max-width: 500px) {
    .project__description {
      display: none; } }

.project__text {
  line-height: 1.7em;
  font-size: 20px;
  margin-top: 30px; }
  @media (min-width: 320px) and (max-width: 500px) {
    .project__text {
      font-size: 14px; } }

.project__BlockIllustration {
  z-index: 3;
  width: 30%;
  height: 80vh;
  position: relative; }
  @media (min-width: 320px) and (max-width: 500px) {
    .project__BlockIllustration {
      height: 70vh;
      width: 55%;
      margin-right: 10px; } }
  .project__BlockIllustration:hover img {
    filter: blur(1px) opacity(70%);
    transition: filter ease-in-out 0.5s; }
  .project__BlockIllustration:hover .project__BlockIllustration__text {
    opacity: 1;
    transition: opacity ease-in-out 0.5s; }

.project__illustration {
  object-fit: cover;
  height: 100%; }

.project__BlockIllustration__text {
  z-index: 4;
  position: absolute;
  text-align: center;
  top: 42%;
  left: 21%;
  opacity: 0; }
  @media (min-width: 320px) and (max-width: 500px) {
    .project__BlockIllustration__text {
      top: 37%;
      left: 7%; } }
  .project__BlockIllustration__text p:first-child {
    font-family: VOGUE, sans-serif;
    letter-spacing: 2px;
    font-size: 1.5em; }
    @media (min-width: 320px) and (max-width: 500px) {
      .project__BlockIllustration__text p:first-child {
        font-size: 1em; } }
  .project__BlockIllustration__text hr {
    border: 1px solid;
    width: 80%; }
  .project__BlockIllustration__text p:last-child {
    text-transform: lowercase;
    font-size: 0.8em; }
    @media (min-width: 320px) and (max-width: 500px) {
      .project__BlockIllustration__text p:last-child {
        font-size: 0.5em; } }

.owl-carousel .owl-stage-outer {
  /* overflow: visible;*/
  object-fit: cover; }

.owl-carousel.owl-loaded {
  margin-top: 50vh;
  /* poussé de la moitié de hauteur de viewport */
  transform: translateY(-50%); }

.owl-dots {
  margin-bottom: 20px; }
  .owl-dots .owl-dot:focus {
    outline: none !important; }

.owl-nav {
  display: flex;
  justify-content: space-between;
  z-index: -3 !important;
  width: 115%;
  transform: translate(-7.5%, -5.6em);
  font-size: 3em; }
  .owl-nav button:focus {
    outline: none; }

.owl-theme .owl-nav [class*=owl-] {
  background: none !important; }

@media (min-width: 320px) and (max-width: 500px) {
  .owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 20px; } }

/* The Modal (background) */
.modal {
  visibility: hidden;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 12;
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */ }

/* Modal Content/Box */
.modal__content {
  background-color: #131316;
  background-color: rgba(0, 0, 0, 0.7);
  margin: 0 auto;
  padding: 1em;
  height: 100vh; }
  .modal__content p {
    text-align: center;
    font-size: 20px; }
    @media (min-width: 320px) and (max-width: 500px) {
      .modal__content p {
        font-size: 13px; } }

.modal__header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1em; }

.modal__title {
  text-align: center;
  margin: 0 2%;
  font-family: VOGUE, sans-serif;
  letter-spacing: 2px;
  font-size: 2em; }
  @media (min-width: 320px) and (max-width: 500px) {
    .modal__title {
      font-size: 1em; } }

.modal__trait {
  width: 20%;
  border: 1px solid; }

.modal__close {
  position: absolute;
  top: 3%;
  right: 2%;
  z-index: 7;
  margin-left: 2%;
  width: 60px; }
  @media (min-width: 320px) and (max-width: 500px) {
    .modal__close {
      width: 30px; } }

.modal__body {
  display: flex;
  justify-content: center;
  align-items: center; }

.modal__img {
  display: block;
  margin: 1em auto; }
  @media (min-width: 320px) and (max-width: 500px) {
    .modal__img {
      height: auto !important;
      width: auto !important; } }

.modal__description {
  margin: 3% auto;
  line-height: 1.3em;
  width: 70%; }
  @media (min-width: 320px) and (max-width: 500px) {
    .modal__description {
      line-height: 0.9em;
      width: 95%; } }

.video {
  display: block;
  margin: 3% auto;
  width: 60vw;
  height: 60vh; }
  @media (min-width: 320px) and (max-width: 500px) {
    .video {
      margin: 40% auto;
      width: 80vw;
      height: 30vh; } }

.photo {
  width: 70%;
  height: auto;
  margin-top: 5%; }

/*SECTION ABOUT*/
.about {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50vh;
  /* poussé de la moitié de hauteur de viewport */
  transform: translateY(-50%);
  /* tiré de la moitié de sa propre hauteur */ }
  @media (min-width: 320px) and (max-width: 500px) {
    .about {
      justify-content: flex-start;
      flex-direction: column;
      width: 80%; } }

.about__photo {
  text-align: center; }
  .about__photo img {
    height: 64vh; }
    @media (min-width: 320px) and (max-width: 500px) {
      .about__photo img {
        height: 30vh;
        object-fit: cover;
        width: 100%;
        margin-top: 25px; } }

.about__text {
  margin-left: 8%;
  width: 35%;
  font-size: 18px;
  line-height: 2em; }
  @media (min-width: 320px) and (max-width: 500px) {
    .about__text {
      font-size: 13px;
      line-height: 1.6em;
      margin-top: 1.7em;
      margin-left: 0px;
      width: auto; } }

.about__button {
  background: none;
  margin-right: 10px;
  margin-bottom: 20px;
  padding: 8px;
  font-size: 0.8em;
  border: 1px solid white;
  cursor: pointer; }
  @media (min-width: 320px) and (max-width: 500px) {
    .about__button {
      margin-bottom: 10px; } }
  .about__button i {
    color: white; }
  .about__button:hover {
    background-color: white; }
  .about__button:hover a {
    color: black !important; }

.loader {
  background: url("./../assets/img/gif/chargement.gif") 50% 50% no-repeat rgba(255, 255, 255, 0.8);
  background-color: white;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999; }

.container {
  width: 60%;
  margin-top: 50vh;
  transform: translateY(-50%);
  margin-left: auto;
  margin-right: auto; }
  @media (min-width: 320px) and (max-width: 500px) {
    .container {
      width: 85%;
      overflow: hidden; } }

.gallery__item {
  position: relative;
  transition: 0.5s; }
  .gallery__item:hover .gallery__img {
    filter: blur(1px); }
  .gallery__item:hover .gallery__item__text {
    visibility: visible;
    font-family: VOGUE, sans-serif;
    letter-spacing: 2px; }

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(0px);
  transition: filter 0.1s ease-in; }

.gallery__item__text {
  font-size: 1em;
  z-index: 4;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.52);
  text-align: center;
  line-height: 1.3em;
  /* position the text in t’ middle*/
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden; }
  @media (min-width: 320px) and (max-width: 500px) {
    .gallery__item__text {
      font-size: 0.4em; } }

.fa-arrow-left {
  position: absolute;
  top: 7%;
  left: 5%; }
  @media (min-width: 320px) and (max-width: 500px) {
    .fa-arrow-left {
      font-size: 0.8em;
      top: 5%;
      left: 9%; } }

.gallery-graph {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 15px;
  /*@include mobile IPHONE X{
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(18, 5vw);*/ }
  @media (min-width: 320px) and (max-width: 500px) {
    .gallery-graph {
      grid-template-columns: repeat(18, 1fr);
      grid-template-rows: repeat(12, 5vw); } }

.gallery__item--1-graph {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3; }
  @media (min-width: 320px) and (max-width: 500px) {
    .gallery__item--1-graph {
      grid-column-end: 10;
      grid-row-end: 4; } }

.gallery__item--2-graph {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 6; }
  @media (min-width: 320px) and (max-width: 500px) {
    .gallery__item--2-graph {
      grid-column-start: 10;
      grid-column-end: 19;
      grid-row-end: 8; } }

.gallery__item--3-graph {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 7; }
  @media (min-width: 320px) and (max-width: 500px) {
    .gallery__item--3-graph {
      grid-row-start: 4;
      grid-column-end: 10;
      grid-row-end: 9; } }

.gallery__item--4-graph {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 7;
  grid-row-end: 9; }
  @media (min-width: 320px) and (max-width: 500px) {
    .gallery__item--4-graph {
      grid-column-end: 9;
      grid-row-start: 12; } }

.gallery__item--5-graph {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 6;
  grid-row-end: 9; }
  @media (min-width: 320px) and (max-width: 500px) {
    .gallery__item--5-graph {
      grid-column-start: 10;
      grid-column-end: 19;
      grid-row-start: 8;
      grid-row-end: 12; } }

.gallery-video {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(9, 4vw);
  grid-gap: 15px; }

.gallery__item--1-video {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 4; }

.gallery__item--2-video {
  grid-column-start: 5;
  grid-column-end: 10;
  grid-row-start: 1;
  grid-row-end: 4; }

.gallery__item--3-video {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 7; }

.gallery__item--4-video {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 7;
  grid-row-end: 10; }

.gallery__item--5-video {
  grid-column-start: 5;
  grid-column-end: 10;
  grid-row-start: 4;
  grid-row-end: 7; }

.gallery__item--6-video {
  grid-column-start: 5;
  grid-column-end: 10;
  grid-row-start: 7;
  grid-row-end: 10; }

/* ESSAYER DE FAIRE UNE GRID POUR CETTE MISE EN PAGE*/
.grid {
  display: grid;
  grid-template-rows: 120px 200px 400px auto;
  grid-template-columns: 100px 40% auto 200px; }

.mockup {
  grid-row: 3;
  grid-column: 1/3; }

.com {
  grid-row-start: 2;
  grid-column: 2; }

.text {
  grid-column-start: 3;
  grid-row-start: 2; }
