.gallery-graph {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 15px;

  @include mobile {
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: repeat(12, 5vw);
  }
  /*@include mobile IPHONE X{
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(18, 5vw);*/

}


.gallery__item--1-graph {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
  @include mobile {
    grid-column-end: 10;
    grid-row-end: 4;
  }
}

.gallery__item--2-graph {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 6;

  @include mobile {
    grid-column-start: 10;
    grid-column-end: 19;
    grid-row-end: 8;
  }
}


.gallery__item--3-graph {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 7;
  @include mobile {
    grid-row-start: 4;
    grid-column-end: 10;
    grid-row-end: 9;
  }
}

.gallery__item--4-graph {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 7;
  grid-row-end: 9;
  @include mobile {
    grid-column-end: 9;
    grid-row-start: 12;
  }
}

.gallery__item--5-graph {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 6;
  grid-row-end: 9;
  @include mobile{
    grid-column-start: 10;
    grid-column-end: 19;
    grid-row-start: 8;
    grid-row-end: 12;
  }
}

