.loader{
  background: url('./../assets/img/gif/chargement.gif') 50% 50% no-repeat rgba(255, 255, 255, 0.8);
  background-color: white;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}
