.menu{
  transform: rotate(-90deg);
  position: absolute;
  right: -13%;
  bottom: 35%;
  text-transform: uppercase;
  z-index: 2;
  @include mobile{
    display: none;
  }
}

ul {
  display: flex;

}

li {
  width: 22vh;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;

  a {
    margin-right: 4px;
  }
}

.menu__trait {
  height: 0.3px;
  width: 20%;
  border: solid white 0.4px;
}