/* The Modal (background) */
.modal {
  visibility: hidden; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 12;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */

}


/* Modal Content/Box */
.modal__content {
  background-color: #131316;
  background-color: rgba(0, 0, 0, 0.70);

  margin: 0 auto;
  padding: 1em;
  height: 100vh;

  p {
    text-align: center;
    font-size: 20px;
    @include mobile{
      font-size: 13px;
    }
  }
}

.modal__header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1em;

}

.modal__title {
  text-align: center;
  margin: 0 2%;
  font-family: VOGUE, sans-serif;
  letter-spacing: 2px;
  font-size: 2em;
  @include mobile {
    font-size: 1em;
  }
}

.modal__trait {
  width: 20%;
  border: 1px solid;

}

.modal__close {
  position: absolute;
  top: 3%;
  right: 2%;
  z-index: 7;
  margin-left: 2%;
  width: 60px;
  @include mobile {
  width: 30px;
  }

}


.modal__body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__img {
  display: block;
  margin: 1em auto;
  @include mobile {
    height: auto !important;
    width: auto !important;
  }
}

.modal__description {
  margin: 3% auto;
  line-height: 1.3em;
  width: 70%;
  @include mobile{
    line-height: 0.9em;
    width: 95%;
  }
}

.video {
  display: block;
  margin: 3% auto;
  width: 60vw;
  height: 60vh;
  @include mobile{
    margin: 40% auto;
    width: 80vw;
    height: 30vh;
  }

}

.photo {
  width: 70%;
  height: auto;
  margin-top: 5%;
}
